@media only screen and(max-width:1050px){
	.tiles{
		margin:0;
	}
	.tile, .tile:first-child{
		margin:0 10px 40px;
	}
}
@media only screen and (max-width:1030px){
	.page-footer .mission-statement .mission{
		margin:0;
	}
}
@media only screen and (max-width:517px){
	.nav-item{	
		margin: 6px 0 0;
		padding: 6px 16px;
	}
}