.header-styles, header, .navigation {
  width: 100%;
  height: 100px;
  background-color: #62437f;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

body {
  font-family: "Open Sans", "sans-serif";
  text-align: center;
  margin: 0; }

p {
  margin: 0; }

h1 {
  color: #62437f;
  font-size: 36px;
  line-height: 40px;
  font-weight: lighter;
  margin: 10px 0 0; }

h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  color: white; }

h3 {
  color: #62437f;
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  margin: 15px 0 0;
  padding: 0 10px; }

p {
  color: #62437f;
  font-size: 16px;
  font-weight: lighter;
  margin: 15px 0 25px; }

header h2 {
  padding: 30px 0;
  letter-spacing: 1px; }

.magellan {
  background-image: url("../images/header-background-magellan.png"); }

.optim {
  background-image: url("../images/header-background-optim.png"); }

.inspire {
  background-image: url("../images/header-background-inspire.png"); }

.rhino {
  background-image: url("../images/header-background-rhino.png"); }

.magellan, .optim, .inspire, .rhino {
  background-position: center; }

.content {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.lead-image {
  text-align: center;
  padding: 30px 0; }

.nav-item {
  display: inline-block;
  margin: 26px 0 0 0;
  padding: 11px 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .nav-item a {
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: white; }
  .nav-item.selected, .nav-item:hover {
    background-color: white;
    cursor: pointer; }
    .nav-item.selected a, .nav-item:hover a {
      color: #62437f; }

section h1 {
  margin: 30px 0 0; }

.tiles {
  font-size: 0;
  margin: 0 -10px 0 0; }

.tile {
  display: inline-block;
  width: 300px;
  text-align: left;
  vertical-align: top;
  margin: 0 10px; }
  .tile:first-child {
    margin: 0 10px 0 0; }
  .tile img {
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }

.divider {
  border-top: 1px solid #62437f;
  margin: 70px 0 0; }

.divider-bolt-wrapper {
  background-color: white;
  width: 100px;
  height: 56px;
  margin: -29px auto -50px; }

.icon.gear {
  margin: -2px 0 0 -5px; }

.page-footer {
  background-color: #62437f;
  text-align: center;
  overflow: hidden;
  padding: 35px 0; }
  .page-footer h1 {
    color: white;
    margin: 0 0 35px; }
  .page-footer h3 {
    margin: 0 0 25px;
    padding: 0; }
  .page-footer p span {
    font-weight: normal;
    font-style: italic; }
  .page-footer .mission-statement {
    max-width: 940px;
    width: 100%;
    margin: 0 auto 35px;
    padding: 35px 20px 40px;
    background-color: #d3d7dc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid white; }
    .page-footer .mission-statement .statement {
      max-width: 285px;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      text-align: left; }
    .page-footer .mission-statement .mission {
      margin: 0 15px; }
  .page-footer .about-us h3, .page-footer .about-us p {
    color: white; }
  .page-footer .about-us h3 {
    padding: 0;
    margin: 20px 0 0; }

@media only screen and (max-width: 1050px) {
  .tiles {
    margin: 0; }

  .tile, .tile:first-child {
    margin: 0 10px 40px; } }
@media only screen and (max-width: 1030px) {
  .page-footer .mission-statement .mission {
    margin: 0; } }
@media only screen and (max-width: 517px) {
  .nav-item {
    margin: 6px 0 0;
    padding: 6px 16px; } }
